<%- hidden = false unless local_assigns[:hidden] %>
<%= form_for [:admin, route], html: { style: "display: #{hidden ? 'none' : 'block'}", class: 'form-inline'} do |f| %>

  <%= render 'common/errors', resource: route %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.submit "#{ route.new_record? ? t('actions.create') : t('actions.edit') }" %>
  </div>
<% end %>