<%= form_for(@ticket) do |f| %>

    <div class="field">
      <%= label_tag "Текущий пользователь: #{current_user.email}" %>
    </div>

    <div class="field">
      <%= f.label 'ФИО пассажира' %>
      <%= f.text_field :fio %>
    </div>

    <div class="field">
      <%= f.label 'Паспортные данные' %>
      <%= f.text_field :passport %>
    </div>

    <div class="field">
      <%= f.hidden_field :train_id, value: params[:train_id] if params[:train_id]%>
      <%= f.hidden_field :start_station_id, value: params[:start_station_id] if params[:start_station_id]%>
      <%= f.hidden_field :end_station_id, value: params[:end_station_id] if params[:end_station_id]%>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>