<%= form_for [@train, @wagon] do |f| %>
  <% f.object = @wagon.becomes(@wagon.class) %>

  <% if @wagon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wagon.errors.count, "error") %> prohibited this wagon from being saved:</h2>

      <ul>
      <% @wagon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %>
    <%= f.select :type, [EconomyWagon.name, CoupeWagon.name, SittingWagon.name, LuxWagon.name] %>
  </div>

  <div class="field">
    <%= f.label :top_seats %>
    <%= f.number_field :top_seats %>
  </div>

  <div class="field">
    <%= f.label :bottom_seats %>
    <%= f.number_field :bottom_seats %>
  </div>

  <div class="field">
    <%= f.label :side_top_seats %>
    <%= f.number_field :side_top_seats %>
  </div>

  <div class="field">
    <%= f.label :side_bottom_seats %>
    <%= f.number_field :side_bottom_seats %>
  </div>

  <div class="field">
    <%= f.label :sitting_seats %>
    <%= f.number_field :sitting_seats %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
