<p id="notice"><%= notice %></p>

<p>
  <strong>Вагон</strong>
  Тип: <%= @wagon.type %>,
  <% if @wagon.bottom_seats.present? %>
      Нижних мест: <%= @wagon.bottom_seats %>
  <% end %>
  <% if @wagon.top_seats.present? %>
      Верхних мест: <%= @wagon.top_seats %>
  <% end %>
  <% if @wagon.side_bottom_seats.present? %>
      Нижних боковых мест: <%= @wagon.side_bottom_seats %>
  <% end %>
  <% if @wagon.side_top_seats.present? %>
      Верхних боковых мест: <%= @wagon.side_top_seats %>
  <% end %>
  <% if @wagon.sitting_seats.present? %>
      Сидячих мест: <%= @wagon.sitting_seats %>
  <% end %>
  </p>
<p>
  <% if @wagon.train %>
      Прицеплен к поезду <%= @wagon.train.number %>
  <% else %>
      Вагон не прицеплен.
  <% end %>
</p>

<%= link_to 'Edit', edit_wagon_path(@wagon) %> |
<%= link_to 'Back', wagons_path %>
