<p>
  <strong><%= t('activerecord.attributes.train.number') %></strong>
  <%= @train.number %>
  <% if @train.route %>
      <%= t('activerecord.models.route.one') %>: <%= @train.route.name %>
  <% else %>
      <%= t('text.empty_route')%>.
  <% end %>
</p>

<h3><%= t('activerecord.models.wagon.many') %>:</h3>
<p>
  <% if @train.wagons.present? %>
      <% @train.current_order_wagons.each do |wagon| %>
          <%= link_to "#{wagon.number}", [:admin, wagon] %><br>
      <% end %>
  <% else %>
      <%= t('text.no_wagons')%>.
  <% end %>
</p>
<p>
  <%= link_to t('actions.add_wagon'), new_admin_train_wagon_path(@train) %>
</p>

<%= link_to t('actions.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('actions.back'), admin_trains_path %>
